{
  "presets": [
    {
      "plugins": [
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-export-extensions",
        "syntax-trailing-function-commas",
      ]
    },
  ],
}
